# This file is used to assign reviewers to PRs based on ownerships
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Per default maintainer review is requested
* @Dynatrace/monaco-maintainers
