version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    reviewers:
      - "dynatrace-oss/mac-maintainers"
    commit-message:
      prefix: "chore"
      include: "scope"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    reviewers:
      - "dynatrace-oss/mac-maintainers"
    commit-message:
      prefix: "chore"
      include: "scope"  