{{- define "depRow" -}}
{{- range $i, $dep := . }}
Dependency: {{ $dep.Name }},{{ $dep.Version }}
Licence: {{ $dep.LicenceType }}

{{ $dep | licenceText }}
{{ "-" | line }}
{{- end }}
{{- end -}}

{{ "=" | line }}
Third party libraries used by dynatrace-configuration-as-code
{{ "=" | line }}
{{ template "depRow" .Direct  }}

{{ if .Indirect }}
{{ "=" | line }}
Indirect Dependencies
Dependencies of third party libraries used by dynatrace-configuration-as-code
{{ "=" | line }}
{{ template "depRow" .Indirect  }}
{{ end }}
