name: Commit Compliance

# This workflow runs on pull requests
# to make sure your commits are compliant with conventional commits.
# https://www.conventionalcommits.org/en/v1.0.0/

on:
  pull_request: # run on any PR
  merge_group: # run if triggered as part of a merge queue
jobs:
  validate-commits:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0
      - name: Commitsar check
        uses: aevea/commitsar@2ff90444999e3c3a4619fcd7e1eaf72328165f47 #v1.0.1
