name: Commit Compliance

# This workflow runs on pull requests
# to make sure your commits are compliant with conventional commits. 
# https://www.conventionalcommits.org/en/v1.0.0/

"on": [pull_request]
jobs:
  validate-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
      - name: Commitsar check
        uses: docker://aevea/commitsar:0.15.0