name: Dependencies and Licenses
on:
  release:
    types:
      - published
defaults:
  run:
    shell: bash
jobs:
  generate-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Core Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 #v6.2.0
        with:
          go-version-file: go.mod
      - name: Install go-licence-detector
        run: |
          go install go.elastic.co/go-licence-detector@v0.6.0
      - name: Clean Go mod
        run: go mod tidy
      - name: Generate Dependencies and Licenses
        run: go list -m -json all | go-licence-detector -includeIndirect -depsTemplate=.dependencies/templates/dependencies.csv.tmpl -depsOut=dependencies-and-licenses.txt
      - name: Upload dependencies and licenses artifact
        run: |
          curl --request POST "https://uploads.github.com/repos/Dynatrace/dynatrace-configuration-as-code/releases/${{ github.event.release.id }}/assets?name=dependencies-and-licenses.txt" \
               --header "Accept: application/vnd.github+json" \
               --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
               --header "X-GitHub-Api-Version: 2022-11-28" \
               --header "Content-Type: application/octet-stream" \
               --fail \
               --data-binary @dependencies-and-licenses.txt
