name: Snyk Security Scan

on:
  pull_request:
    branches: [ main ]
  merge_group: # run if triggered as part of a merge queue
  push:
    branches: [ main ]

jobs:
  security:
    name: Code security scanning alerts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/golang@9adf32b1121593767fc3c057af55b55db032dc04 # v1.0.0
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_API_TOKEN }}
