name: Snyk Security Scan

on:
  pull_request:
    branches: [ main ]
  merge_group: # run if triggered as part of a merge queue
  push:
    branches: [ main ]

jobs:
  security:
    name: Code security scanning alerts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/golang@9adf32b1121593767fc3c057af55b55db032dc04 # v1.0.0
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_API_TOKEN }}
